/* ----- */

$primary-color: rgb(241, 241, 241);
$secondary-color: rgb(0, 0, 0);
$tertiary-color: grey;
$primary-detail-color: rgb(234, 0, 38);
$secondary-detail-color: rgb(178, 8, 35);
$tertiary-detail-color: rgb(31, 31, 31);

/* ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background: $tertiary-detail-color;
    overflow-x: hidden;
}


/* ==================== */

#black-screen {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.fadeout {
    animation: fadeout 1s ease-in-out forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -20000;
    }
}


/* ==================== */

#source-code {
    width: 4rem;
    min-height: 4rem;
    position: fixed;
    top: 10rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    padding: 0rem 1rem 0rem 0.8rem;
    border-radius: 1rem;
    a {
        i {
            font-size: 3rem;
            margin: 2rem 0;
            color: yellow;
            img {
                width: 2.5rem;
                margin: 2rem 0rem 2rem 0;
            }
        }
        #css-icon {
            font-size: 2.5rem;
        }
    }
}


/* ==================== */

#menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
    i {
        color: $primary-color;
        font-size: 3.5rem;
        text-shadow: 0.2rem 0.2rem 0.5rem black, -0.2rem -0.2rem 0.5rem black;
    }
}

#nav {
    width: 30rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -30rem;
    background: rgba($color: $secondary-color, $alpha: 1.0);
    z-index: 9999;
    #close-icon {
        #close {
            color: $primary-color;
            font-size: 4rem;
            position: absolute;
            top: 1rem;
            right: 2.5rem;
        }
    }
    ul {
        width: 90%;
        margin: 4rem 5% 5rem;
        float: left;
        li {
            width: 100%;
            float: left;
            text-align: center;
            font-size: 3rem;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: 900;
            list-style: none;
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
    #quote {
        width: 90%;
        color: $primary-color;
        font-size: 2rem;
        margin: auto;
        margin-bottom: 7rem;
        text-align: center;
    }
    #social {
        width: 80%;
        margin: auto;
        text-align: center;
        i {
            color: $primary-color;
            font-size: 2.5rem;
            padding: 0.5rem 1rem;
        }
    }
}


/* ========== */

.showNav {
    animation: showNav 0.7s ease-out forwards;
}

@keyframes showNav {
    0% {
        right: -30rem;
        opacity: 0;
    }
    100% {
        right: -1rem;
        opacity: 1;
    }
}

.hideNav {
    animation: hideNav 0.7s ease-out forwards;
}

@keyframes hideNav {
    0% {
        right: -1rem;
        opacity: 1;
    }
    100% {
        right: -30rem;
        opacity: 0;
    }
}


/* ========== */

#wrapper {
    width: 100%;
    min-height: 100%;
    background: $tertiary-detail-color;
    margin-bottom: 30vw;
    #banner {
        width: 100vw;
        height: 100vh;
        background: $tertiary-detail-color;
        background-image: url('../image/banner.gif');
        background-repeat: no-repeat;
        background-size: cover;
        #banner-img {
            display: none;
        }
        h1 {
            font-size: 3rem;
            color: $primary-color;
            text-indent: 2rem;
            text-transform: uppercase;
            padding-top: 1rem;
        }
        h1,
        h2,
        h3,
        p,
        #typewriter {
            text-indent: 1.5rem;
        }
        h2 {
            font-size: 3.9rem;
            font-weight: 900;
            float: left;
            width: 100%;
            color: $primary-color;
            margin-top: 30vh;
        }
        h3 {
            font-size: 3.9rem;
            font-weight: 900;
            margin-bottom: 1rem;
            color: $primary-detail-color;
        }
        p {
            width: calc(100% - 3rem);
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            letter-spacing: 0.1rem;
        }
        #typewriter {
            color: yellow;
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 0.2rem;
        }
        #contact {
            text-align: center;
            color: $primary-color;
            font-size: 2rem;
            width: 50%;
            padding: 0.5rem 0;
            border: 0.2rem solid $primary-color;
            border-radius: 1rem;
            position: absolute;
            text-transform: uppercase;
            bottom: 10rem;
            left: 25%;
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
    .container {
        width: 100%;
        min-height: 100%;
        margin-bottom: 30vh;
        padding-bottom: 2rem;
        a {
            .work {
                width: 80vw;
                height: 80vw;
                margin: 0 10vw 2rem;
                border-radius: 1rem;
                &:first-child {
                    margin-top: 2rem;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
        }
        #contact {
            h2 {
                font-size: 2.5rem;
                text-align: center;
                border: 0.2rem solid $primary-detail-color;
                width: 60%;
                margin: 10rem 20% 0rem;
                padding: 0.5rem 0;
                text-transform: uppercase;
                border-radius: 1rem;
                a {
                    text-decoration: none;
                    color: $primary-color;
                }
            }
        }
    }
}

#transparent-column {
    height: 30vh;
    width: 100vw;
    background: transparent;
}

footer {
    width: 100vw;
    height: 30vh;
    background: $secondary-detail-color;
    position: fixed;
    bottom: 0;
    z-index: -1;
    h2 {
        color: $primary-color;
        font-size: 3rem;
        text-align: center;
        margin-top: 5rem;
        text-transform: uppercase;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3rem;
    }
    p {
        width: 90%;
        margin: auto;
        font-size: 2.5rem;
        text-align: center;
        a {
            text-decoration: none;
            i {
                color: $primary-color;
                padding: 0 1rem;
            }
        }
    }
}


/* ==================== */

#wrapper {
    #contact-page,
    #about-page,
    #works-page,
    #work-page {
        margin-bottom: 30vh;
        h1 {
            font-size: 3rem;
            color: $primary-color;
            text-indent: 2rem;
            text-transform: uppercase;
            padding-top: 1rem;
            text-indent: 1.5rem;
        }
        .subpage-title {
            color: $primary-detail-color;
            font-size: 2.8rem;
            font-weight: 700;
            text-transform: capitalize;
            padding: 7rem 0 2rem;
            text-align: center;
            font-weight: 800;
            span {
                color: $primary-color;
                font-size: 12rem;
                text-transform: lowercase;
            }
        }
        .sub-header {
            color: $primary-color;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            width: 90%;
            margin: 0 5% 0;
            padding-bottom: 2rem;
        }
    }
}

#wrapper {
    #contact-page,
    #about-page,
    #works-page,
    #work-page {
        #contact {
            margin: 10rem 20% 0;
            width: 60%;
            padding-bottom: 10rem;
            h2 {
                font-size: 2.5rem;
                text-align: center;
                border: 0.2rem solid $primary-detail-color;
                padding: 0.5rem 0;
                text-transform: uppercase;
                border-radius: 1rem;
                a {
                    text-decoration: none;
                    color: $primary-color;
                }
            }
        }
    }
}

#wrapper {
    #about-page {
        #carouselExampleControls {
            height: 80vh;
            width: 80vw;
            margin: 5rem 10vw;
        }
    }
    #work-page {
        #carouselExampleControls {
            height: 80vw;
            width: 80vw;
            margin: 5rem 10vw;
        }
    }
}

#wrapper {
    #about-page,
    #work-page {
        #carouselExampleControls {
            .carousel-inner {
                height: 100%;
                .carousel-item {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        p {
            color: $tertiary-color;
            font-size: 1.8rem;
            line-height: 3rem;
            width: 90%;
            margin: 0 5%;
            font-weight: 700;
            padding: 1rem 0;
        }
    }
}


/* ==================== */

#wrapper {
    #contact-page {
        #contact-form {
            width: 100%;
            form {
                width: 80%;
                margin: auto;
                input,
                textarea {
                    width: 100%;
                    color: $primary-color;
                    background: transparent;
                    border: 0.4rem solid $primary-color;
                    margin: 1.5rem 0;
                    border-radius: 2rem;
                    padding: 1rem;
                    letter-spacing: 0.2rem;
                }
                textarea {
                    height: 15rem;
                }
                #submit {
                    width: 60%;
                    font-size: 1.8rem;
                    color: $primary-color;
                    font-weight: 700;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                    background: transparent;
                    padding: 1rem 0rem;
                    border-radius: 5rem;
                    margin: 2rem 20% 5rem;
                    border: 0.2rem solid $primary-color;
                }
            }
        }
    }
}


/* ==================== */

#wrapper {
    #about-page {
        p {
            text-align: center;
        }
        #carouselExampleControls {
            .carousel-inner {
                .carousel-item {
                    h2 {
                        color: $primary-color;
                        font-size: 3rem;
                        line-height: 2.5rem;
                        text-align: center;
                        position: relative;
                        top: -6.5rem;
                        text-transform: capitalize;
                        padding: 0.5rem 0;
                        background: rgba($color: $secondary-color, $alpha: 0.5);
                        span {
                            font-size: 2rem;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .container {
            width: 50vw;
            height: 50vw;
            // background: rgba(255, 255, 255, 0.452);
            background: yellow;
            margin: 2rem 25vw;
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


/* ==================== */

#wrapper {
    #works-page {
        .container {
            margin-bottom: 2rem;
            margin-top: 2rem;
            a {
                text-decoration: none;
            }
            #work-pic {
                width: 80vw;
                height: 50vw;
                margin: auto;
                margin-bottom: 1rem;
                border-radius: 1rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
            .work-header {
                color: $primary-color;
                font-size: 2rem;
                line-height: 3rem;
                width: 90%;
                margin: 0 10vw 0;
            }
            p {
                color: $tertiary-color;
                font-size: 1.5rem;
                line-height: 2.3rem;
                width: 80%;
                margin: 0 10%;
                font-weight: 700;
                padding: 1rem 0 0;
            }
        }
    }
}


/* ==================== */

#wrapper {
    #work-page {
        p {
            text-align: justify;
            text-indent: 2rem;
        }
        .image {
            width: 90vw;
            height: 70vh;
            margin: 5vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


/* ============================================= */

@media (min-width: 768px) {
    #wrapper {
        /* ==================== */
        #nav {
            ul {
                li {
                    padding: 2rem 1rem;
                }
            }
            #quote {
                line-height: 4rem;
            }
        }
        /* ===================== */
        #banner {
            h1 {
                font-size: 3rem;
            }
            h1,
            h2,
            h3,
            p,
            #typewriter {
                text-indent: 2.5rem;
            }
            h2 {
                font-size: 10rem;
                line-height: 6rem;
            }
            h3 {
                font-size: 10rem;
            }
            p {
                width: 100%;
                font-size: 4rem;
                margin-bottom: 4rem;
            }
            #typewriter {
                color: yellow;
                font-size: 5rem;
            }
            #contact {
                width: 40%;
                padding: 1.5rem 0;
                left: 30%;
            }
        }
        .container {
            width: 100%;
            min-height: 100vh;
            background: $tertiary-detail-color;
            float: left;
            a {
                .work {
                    width: 40%;
                    height: 60vw;
                    margin: 0 5% 5rem;
                    float: left;
                    &:first-child {
                        margin-top: 5rem;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            #contact {
                float: left;
                width: 40vw;
                margin-left: 30vw;
                h2 {
                    font-size: 3rem;
                    width: 100%;
                    margin: 10rem 0 5rem;
                    padding: 1rem 0;
                }
            }
        }
    }
    footer {
        h2 {
            font-size: 5rem;
            margin-top: 5rem;
        }
        h3 {
            font-size: 3rem;
        }
        p {
            font-size: 3rem;
            a {
                i {
                    padding: 0 2rem;
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #contact-page,
        #about-page,
        #works-page,
        #work-page {
            h1 {
                font-size: 3rem;
            }
            .subpage-title {
                font-size: 3.5rem;
                span {
                    font-size: 15rem;
                }
            }
            .sub-header {
                font-size: 2.5rem;
                line-height: 4rem;
            }
        }
    }
    #wrapper {
        #contact-page,
        #about-page,
        #works-page,
        #work-page {
            #contact {
                margin: 10rem 30% 0;
                width: 40%;
                h2 {
                    font-size: 3rem;
                    padding: 1rem 0;
                    font-weight: 700;
                }
            }
        }
    }
    #wrapper {
        #about-page {
            #carouselExampleControls {
                height: 70vh;
                width: 70vw;
                margin: 5rem 15vw;
            }
        }
    }
    #wrapper {
        #about-page,
        #work-page {
            p {
                color: $tertiary-color;
                font-size: 2.8rem;
                line-height: 4rem;
            }
        }
    }
    /* ==================== */
    #wrapper {
        #contact-page {
            #contact-form {
                form {
                    input,
                    textarea {
                        font-size: 2rem;
                    }
                    textarea {
                        height: 20rem;
                    }
                    #submit {
                        width: 40%;
                        font-size: 3rem;
                        margin: 2rem 30% 5rem;
                    }
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #about-page {
            #carouselExampleControls {
                .carousel-inner {
                    .carousel-item {
                        h2 {
                            font-size: 4rem;
                            line-height: 4.5rem;
                            position: relative;
                            top: -11rem;
                            padding: 1rem 0;
                            span {
                                font-size: 3rem;
                            }
                        }
                    }
                }
            }
            .container {
                width: 50vw;
                height: 50vw;
                margin: 5rem 25vw;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #works-page {
            .container {
                margin-bottom: 4rem;
                margin-top: 4rem;
                #work-pic {
                    width: 70vw;
                }
                .work-header {
                    font-size: 4rem;
                    line-height: 5rem;
                }
                p {
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #work-page {
            .image {
                width: 70vw;
                height: 70vh;
                margin: 15vw;
            }
        }
    }
}


/* ============================================= */

@media (min-width: 992px) {
    #wrapper {
        /* ==================== */
        #menu {
            i {
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    color: $primary-detail-color;
                }
            }
        }
        #nav {
            #close-icon {
                #close {
                    transition: 0.5s;
                    &:hover {
                        color: $primary-detail-color;
                        cursor: pointer;
                    }
                }
            }
            ul {
                li {
                    a {
                        transition: 0.5s;
                        &:hover {
                            color: $primary-detail-color;
                        }
                    }
                }
            }
            #social {
                i {
                    transition: 0.5s;
                    &:hover {
                        color: $primary-detail-color;
                        cursor: pointer;
                    }
                }
            }
        }
        /* ===================== */
        #banner {
            background: $secondary-color;
            background-image: none;
            #banner-img {
                display: block;
                height: 100%;
                width: 50%;
                position: absolute;
                right: 0;
            }
            h1,
            h2,
            h3,
            p,
            #typewriter {
                text-indent: 5rem;
            }
            h2 {
                font-size: 12rem;
                margin-top: 20vh;
            }
            h3 {
                font-size: 12rem;
            }
            p {
                font-size: 3.5rem;
            }
            #typewriter {
                font-size: 5rem;
            }
            #contact {
                font-size: 3rem;
                width: 20%;
                padding: 1rem 0;
                transition: 0.5s;
                bottom: 5rem;
                left: 40%;
                a {
                    text-decoration: none;
                    color: $primary-color;
                }
                &:hover {
                    transform: scale(1.2, 1);
                    background: $secondary-detail-color;
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
        .container {
            width: 60vw;
            margin-left: 20vw;
            margin-bottom: 0vh;
            min-height: 10vh;
            float: left;
            a {
                .work {
                    width: 40%;
                    height: 20vw;
                    float: left;
                    margin: 0 5% 2rem;
                }
            }
            #contact {
                float: left;
                width: 40%;
                margin: 15rem 30% 10rem;
                h2 {
                    font-size: 2.5rem;
                    margin: 0;
                    width: 100%;
                    padding: 1rem 0;
                    transition: 0.5s;
                    &:hover {
                        background: $secondary-detail-color;
                        border: 0.2rem solid $primary-color;
                        transform: scale(1.2, 1);
                    }
                    a {
                        text-decoration: none;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    footer {
        position: initial;
        float: left;
        h2 {
            font-size: 5rem;
        }
        h3 {
            font-size: 2.2rem;
        }
        p {
            font-size: 3rem;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                i {
                    transition: 0.5s;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #contact-page,
        #about-page,
        #works-page,
        #work-page {
            float: left;
            margin-bottom: 0;
            .subpage-title {
                font-size: 6rem;
                span {
                    font-size: 20rem;
                }
            }
            .sub-header {
                font-size: 2.5rem;
                line-height: 4rem;
                width: 60%;
                margin: 0 20% 0;
            }
        }
    }
    #wrapper {
        #contact-page,
        #about-page,
        #works-page,
        #work-page {
            #contact {
                float: left;
                width: 20%;
                margin: 15rem calc(80% / 2) 5rem;
                h2 {
                    font-size: 2.5rem;
                    margin: 0;
                    width: 100%;
                    padding: 1rem 0;
                    transition: 0.5s;
                    &:hover {
                        background: $secondary-detail-color;
                        border: 0.2rem solid $primary-color;
                        transform: scale(1.2, 1);
                    }
                    a {
                        text-decoration: none;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    #wrapper {
        #about-page {
            #carouselExampleControls {
                height: 80vh;
                width: 50vw;
                margin: 5rem 25vw;
            }
        }
        #work-page {
            #carouselExampleControls {
                height: 30vw;
                width: 40vw;
                margin: 5rem 30vw;
            }
        }
    }
    #wrapper {
        #about-page,
        #work-page {
            #carouselExampleControls {
                .carousel-inner {
                    height: 100%;
                    .carousel-item {
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            p {
                font-size: 2rem;
                line-height: 4rem;
                width: 60%;
                margin: 0 20%;
                text-align: justify;
                text-indent: 3.5rem;
            }
        }
    }
    /* ==================== */
    #wrapper {
        #contact-page {
            width: 100vw;
            #contact-form {
                width: 60%;
                margin: auto;
                form {
                    textarea {
                        height: 25rem;
                    }
                    #submit {
                        width: 25%;
                        font-size: 1.8rem;
                        margin: 2rem calc(75% / 2) 5rem;
                        transition: 0.5s;
                        &:hover {
                            background: $primary-detail-color;
                            cursor: pointer;
                            transform: scale(1.2, 1);
                        }
                    }
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #about-page {
            .container {
                width: calc(50vw / 4);
                height: 10%;
                float: left;
                margin: 10rem calc(50vw / 8) 0;
            }
        }
    }
    /* ==================== */
    #wrapper {
        #works-page {
            .container {
                width: 25%;
                &:nth-child(odd) {
                    margin: 4rem 20% 4rem 5%;
                }
                &:nth-child(even) {
                    margin: 4rem 5% 4rem 20%;
                }
                #work-pic {
                    width: 100%;
                    height: 20vw;
                    margin: 0;
                    float: left;
                }
                .work-header {
                    font-size: 2.5rem;
                    line-height: 3rem;
                    width: 100%;
                    margin: 0;
                }
                p {
                    color: $tertiary-color;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
    /* ==================== */
    #wrapper {
        #work-page {
            .image {
                width: 50vw;
                height: 60vh;
                margin: 5vw 25vw;
            }
        }
    }
}


/* ============================================= */

@media (min-width: 1600px) {
    #wrapper {
        width: 1600px;
    }
    .container {
        width: 50vw;
        margin-left: 25vw;
        a {
            .work {
                width: 35%;
                margin: 0 calc(30% / 4) 2rem;
            }
        }
    }
    /* ==================== */
    #wrapper {
        #contact-page,
        #about-page,
        #works-page,
        #work-page {
            float: left;
        }
    }
    #wrapper {
        #contact-page,
        #about-page,
        #works-page,
        #work-page {
            #contact {
                float: left;
                width: 20%;
                margin: 15rem calc(80% / 2) 5rem;
            }
        }
    }
    /* ==================== */
    #wrapper {
        #contact-page {
            width: 100vw;
        }
    }
    /* ==================== */
    #wrapper {
        #works-page {
            width: 160rem;
            margin: 0 calc(50vw - calc(160rem /2));
        }
    }
}